body {
    background-color: #534D6C;
    color: white;
    background-image: url('../../images/jacob/windows.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    text-align: center;
    font-size: 30pt;
    font-family:cursive;
}

.projectName
{
    font-size: 35pt;
}

.projectDesc
{
    font-size: 20pt;
}


.profilePicture
{
    height: 2.5in;
}

.projectImg
{
    width: 3in;
}

.timeText
{
    font-size: 40pt;
}

.linkStyle
{
    color: blue;
    text-decoration: underline;
<<<<<<< HEAD
}
||||||| 844781f
<<<<<<< HEAD
}
=======
}
>>>>>>> 065eca46dee8f74d307594376e25e4d100d19d3a
=======
}
>>>>>>> bcdb35a0f03a16fca898d27d1088fdb74d003d9e
