body 
{
    background-color:rgb(247, 233, 248);
    color:rgb(179, 178, 178);
    background-size:cover;
    background-position: center;
    text-align: center;
    font-size: 24pt;
    font-family:fantasy;
}


.projectName
{
    font-size: 35pt;
}

.projectDesc
{
    font-size: 20pt;
}

.projectPageBackButton
{
    font-size: .2in;
    padding: 0.05in;
border-width: .1in;
border-color: ivory;
}

.profilePicture
{
    height: 2.5in;
}

.projectImg
{
    width: 3in;
}

.timeText
{
    font-size: 40pt;
}

.linkStyle
{
    color: blue;
    text-decoration: underline;
}