body {
    background-color: #534D6C;
    color: white;
    background-image: url('../../images/bagel bg.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    text-align: center;
    font-size: 30pt;
    font-family:monospace;
}


.projectName{
    font-size: 35pt;
}

.projectDesc{
    font-size: 20pt;
}

.personalPageTitle{
    font-size: .8in;
}
.personalPageSubtitle{
    font-size: .2in;
}

.personalPageAboutMe{
    font-size: .3in;
}

.projectPageBackButton{
    font-size: .2in;
    padding: 0.05in;
border-width: .1in;
border-color: ivory;
}

.profilePicture{
    height: 2.5in;
}

.projectImg{
    height: 5in;
}

.timeText{
    font-size: 40pt;
}

.linkStyle{
    color: blue;
    text-decoration: underline;
}